ion-item{
    margin-bottom: 20px;
}

.time{
    width: 100%;
    color: black;
    border: none;
    text-align: center;
    font-size: 25px;
}

ion-datetime{
    width: 100%;
    color: black;
    background-color: white;
}