<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="../../../assets/cam.png" alt="">
  </div>

  <div class="botones"> 
    <button class="btn btn-conf" routerLink="../login">
      <ion-icon ios="person-outline" md="person-sharp"></ion-icon> Iniciar Sesion
    </button>   
    
    <button class="btn btn-conf" routerLink="../registro">
      <ion-icon ios="person-add-outline" md="person-add-sharp"></ion-icon> Registrate
  </button>
  </div>
</ion-content>
