<app-header titulo="Agendar Cita"></app-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
    
  <ion-card mode="ios">       

    <img src="../../../assets/cam.png" alt="">

    <ion-card-title>Solicitar Cita</ion-card-title>

    <div class="form">
        <ion-list>
            <ion-item>
                <ion-icon name="accessibility"></ion-icon>
                <ion-select placeholder="Seleciona un alumno" [(ngModel)]="request.Matricula">
                    <ion-select-option value="{{listAlumnos.Matricula}}" name="Matricula"  *ngFor="let listAlumnos of respuestaAlumno?.listAlumnos" mode="ios">Alumno: {{listAlumnos.Nombre}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-datetime mode="ios" [isDateEnabled]="isWeekday" presentation="date" name="Fecha" [(ngModel)]="request.Fecha"
        min="{{fechavalida}}"></ion-datetime>

        <ion-list>
            <ion-item>
                <ion-icon name="dice"></ion-icon>
                <ion-select placeholder="Seleciona el Area" [(ngModel)]="request.Area" >
                    <ion-select-option value="{{areas.ID}}" name="Area"  *ngFor="let areas of respuestaAreas?.areas" mode="ios">{{areas.Area}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
                <ion-icon name="time"></ion-icon>
                <ion-select placeholder="Seleciona la Hora" [(ngModel)]="request.Hora">
                    <ion-select-option value="{{hora.HoraC}}" name="Hora"  *ngFor="let hora of respuestaDis?.hora" mode="ios">{{hora.Horas}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-button color="success" expand="block" (click)="registrar()" [disabled]="loading">Agendar</ion-button>
    </div>

</ion-card>



</ion-content>

<script>
    const searchbar = document.querySelector('ion-searchbar');
    const items = Array.from(document.querySelector('ion-list').children);

    searchbar.addEventListener('ionInput', handleInput);

    function handleInput(event) {
      const query = event.target.value.toLowerCase();
      requestAnimationFrame(() => {
        items.forEach((item) => {
          const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
          item.style.display = shouldShow ? 'block' : 'none';
        });
      });
    }
  </script>